@font-face {
    font-family: 'StretchPro';
    src: url('StretchPro.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Neou-Thin';
    src: url('Neou-Thin.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Neou-Bold';
    src: url('Neou-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro-trial.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro\ Italic-trial.ttf") format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro\ Light-trial.ttf") format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro\ Light Italic-trial.ttf") format('truetype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro\ Semilight-trial.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro\ Semilight\ Italic-trial.ttf") format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro\ Thin-trial.ttf") format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose\ Pro\ Thin Italic-trial.ttf") format('truetype');
    font-style: italic;
    font-weight: 100;
}