@font-face {
    font-family: 'StretchPro';
    src: url('StretchPro.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Neou-Thin';
    src: url('Neou-Thin.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Neou-Bold';
    src: url('Neou-Bold.otf') format('opentype');
    font-style: normal;
}