@tailwind base;
@tailwind components;
@tailwind utilities;

.page-header {
  @apply text-center font-stretch text-4xl md:text-6xl;
}

.page-sub-header {
  @apply text-center font-stretch text-lg text-greyblack md:text-3xl;
}

.container * {
  z-index: 10;
}

.hamburger-react {
  z-index: 50;
  position: fixed !important;
  top: 0.5em;
  right: 1em;

  overflow: hidden;
}

.holo-panel {
  background-image: url("/img/pattern_dark_faded_edge_L.webp"),
    url("/img/pattern_dark_faded_edge_R.webp"),
    url("/img/holographic_background.webp");
  background-size: 25vw 75vw, 25vw 75vw, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-x: left, right, left;
}

.gallery-row span {
  -webkit-box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 1);
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 1);
}

.no-ligature {
  font-variant-ligatures: none;
}

.angry-shake {
  transform-origin: bottom left;
}

.shake-activate {
  transform: translateY(-0.5em);
  transition: transform 0.1s ease-out;
}

.shake-anim {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}

@keyframes check-stroke {
  25% {
    stroke-dashoffset: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: check-stroke 3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@layer components {
  .label {
    @apply mb-2 block font-cocogoose text-lg font-thin text-pastelpink;
  }

  .text-input {
    @apply block w-full border-b-2 border-pastelpink bg-transparent font-cocogoose text-base font-thin text-pastelpink outline-none;
  }

  .text-input:focus {
    background: transparent;
  }
}

.carousel-item {
  opacity: 0;
  transition: 0.2s ease-in-out opacity;

  position: absolute;
  user-select: none;
  display: none;
}

.carousel-item.is-active p {
  opacity: 1;
}

.carousel-item img {
  -webkit-box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 1);
  box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 1);

  image-rendering: optimizeSpeed;
  /*transition: 0.2s ease-in-out transform;*/
}

.carousel-item.is-active,
.carousel-item.is-prev,
.carousel-item.is-next {
  transition: 0.2s ease-in-out transform;
}

.carousel-item.is-active {
  opacity: 1;
  display: inline;

  left: 50%;
  z-index: 10;

  perspective: 50rem;
  transform: translateX(-50%);
}

.carousel-item.is-active img {
  transform: scale(125%);
}

.carousel-item.is-prev {
  opacity: 0.6;
  display: inline;
  left: 50%;
  z-index: 1;

  transform: translateX(-125%);
}

.carousel-item.is-next {
  opacity: 0.6;
  display: inline;
  left: 50%;
  z-index: 1;

  transform: translateX(25%);
}

div.splide__arrows {
  position: absolute;
  width: 100%;

  z-index: 20;
}

.splide__arrow--prev {
  position: absolute;
  left: 0;
}

.splide__arrow--next {
  position: absolute;
  right: 0;
}

.text-holo {
  background-image: url("/img/holographic_background.webp");

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-show-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
}

@keyframes img-show-1 {
  0% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
}
span:nth-child(1) > .gallery-show-img {
  animation-name: img-show-1;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

span:nth-child(2) > .gallery-show-img {
  animation-name: img-show-1;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 4s;
}

span:nth-child(3) > .gallery-show-img {
  animation-name: img-show-1;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 8s;
}

span:nth-child(4) > .gallery-show-img {
  animation-name: img-show-1;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 12s;
}

span:nth-child(5) > .gallery-show-img {
  animation-name: img-show-1;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 16s;
}

.index-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .index-grid {
    grid-template-columns: 1fr 4fr;
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .index-grid {
    grid-template-columns: 1fr 3fr 360px;
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1536px) {
  .index-grid {
    grid-template-columns: 1fr 3fr 440px;
    column-gap: 32px;
    row-gap: 32px;
  }
}
