@tailwind base;
@tailwind components;
@tailwind utilities;

.container * {
    z-index: 10;
}

.hamburger-react {
    z-index: 50;
    position: fixed !important;
    top: 0.5em;
    right: 1em;

    overflow: hidden;
}

.holo-panel {
    background-image: url("/img/pattern_dark_faded_edge_L.png"), url("/img/pattern_dark_faded_edge_R.png"), url("/img/holographic_background.png");
    background-size: 25vw 75vw, 25vw 75vw, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position-x: left, right, left;
}

.gallery-row span {
    -webkit-box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 1);
}

.no-ligature {
    font-variant-ligatures: none;
}

.angry-shake {
    transition: transform .1s ease-in;
    transform-origin: bottom left;
}

.shake-activate {
    transform: translateY(-.5em);
    transition: transform .1s ease-out;
}

@layer components {
    .label {
        @apply block mb-2 text-pastelpink font-cocogoose font-thin text-lg
    }

    .text-input {
        @apply block text-pastelpink bg-transparent border-b-2 border-pastelpink w-full text-base font-cocogoose font-thin outline-none
    }

    .text-input:focus {
        background: transparent;
    }

}
