.blog-post h1 {
}

.blog-post h2 {
    @apply font-cocogoose font-bold text-sky text-xl mb-8;
}

.blog-post h3 {
    @apply font-cocogoose font-bold text-sky text-lg mb-8;
}

.blog-post h4 {
    @apply font-cocogoose font-bold italic text-sky text-base mb-8;
}

.blog-post h5 {
    @apply font-cocogoose font-bold text-sky text-base mb-8;
}

.blog-post h6 {
    @apply font-cocogoose font-normal text-sky text-base mb-8;
}


.blog-post p {
    @apply font-cocogoose font-extralight text-sky text-base mb-4;
}

.blog-post a {
    @apply italic;
}

.blog-post .date-header p {
    @apply font-neou-bold text-sky border-b-4 border-sky;
}

.blog-post .split-stack {
    display: flex;
    flex-direction: row;
}

.blog-post .split-stack aside {
    flex-basis: 0;
}

.blog-post .split-stack img {
    width: 100%;
    height: auto;
}
